<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!--<servlet>-->
    <!--<servlet-name>BasicServlet</servlet-name>-->
    <!--<servlet-class>org.glue3.web.BasicServlet</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>BasicServlet</servlet-name>-->
    <!--<url-pattern>/basic/*</url-pattern>-->
  <!--</servlet-mapping>-->

  <filter>
    <filter-name>MyApplication</filter-name>
    <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
      <param-value>(/favicon.ico|/(assets|images|fonts|css|js|res)/.*)</param-value>
    </init-param>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.example.config.GlueApplication</param-value>
    </init-param>

  </filter>
  <filter-mapping>
    <filter-name>MyApplication</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
