<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <servlet>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>org.glue3.web.BasicServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/basic/*</url-pattern>
  </servlet-mapping>

</web-app>
